nopCommerce_3.90_Source/Presentation/Nop.Web/App_Data/Settings.txt
nopCommerce_3.90_Source/Libraries/Nop.Core/bin/Debug/*.dll
nopCommerce_3.90_Source/Libraries/Nop.Core/bin/Debug/*.dll.config
nopCommerce_3.90_Source/Libraries/Nop.Core/bin/Debug/*.pdb
nopCommerce_3.90_Source/Libraries/Nop.Core/obj
nopCommerce_3.90_Source/Libraries/Nop.Data/bin/Debug/*.dll
nopCommerce_3.90_Source/Libraries/Nop.Data/bin/Debug/*.pdb
nopCommerce_3.90_Source/Libraries/Nop.Data/bin/Debug/*.dll.config
nopCommerce_3.90_Source/Libraries/Nop.Data/obj
nopCommerce_3.90_Source/Libraries/Nop.Services/bin/Debug/*.dll.config
nopCommerce_3.90_Source/Libraries/Nop.Services/bin/Debug/*.dll
nopCommerce_3.90_Source/Libraries/Nop.Services/bin/Debug/*.pdb
nopCommerce_3.90_Source/Libraries/Nop.Services/obj
nopCommerce_3.90_Source/Nop.Plugin.Test.Test/obj/Debug/*.dll
nopCommerce_3.90_Source/Nop.Plugin.Test.Test/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Feed.GoogleShopping/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Feed.GoogleShopping/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.HelloWorld/bin/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.HelloWorld/bin/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web.Framework/bin/Debug/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web.Framework/bin/Debug/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Administration/Bin/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Administration/Bin/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/bin/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/bin/*.pdb
