
nopCommerce_3.90_Source/Libraries/Nop.Core/bin/Debug/*.dll
nopCommerce_3.90_Source/Libraries/Nop.Core/bin/Debug/*.pdb
nopCommerce_3.90_Source/Libraries/Nop.Core/bin/Debug/*.dll.config
nopCommerce_3.90_Source/Libraries/Nop.Core/obj/Debug/*.cache
nopCommerce_3.90_Source/Libraries/Nop.Core/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Libraries/Nop.Core/obj/
nopCommerce_3.90_Source/Libraries/Nop.Core/obj/Debug/
nopCommerce_3.90_Source/Libraries/Nop.Data/bin/Debug/*.dll
nopCommerce_3.90_Source/Libraries/Nop.Data/bin/Debug/*.dll.config
nopCommerce_3.90_Source/Libraries/Nop.Data/bin/Debug/*.pdb
nopCommerce_3.90_Source/Libraries/Nop.Data/obj/Debug/*.cache
nopCommerce_3.90_Source/Libraries/Nop.Data/obj/Debug/*.dll
nopCommerce_3.90_Source/Libraries/Nop.Data/obj/Debug/*.pdb
nopCommerce_3.90_Source/Libraries/Nop.Services/bin/Debug/*.dll
nopCommerce_3.90_Source/Libraries/Nop.Services/bin/Debug/*.dll.config
nopCommerce_3.90_Source/Libraries/Nop.Services/bin/Debug/*.pdb
nopCommerce_3.90_Source/Libraries/Nop.Services/obj/Debug/*.cache
nopCommerce_3.90_Source/Libraries/Nop.Services/obj/Debug/*.dll
nopCommerce_3.90_Source/Libraries/Nop.Services/obj/Debug/*.pdb
nopCommerce_3.90_Source/Nop.Plugin.Test.Test/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Feed.GoogleShopping/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Feed.GoogleShopping/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Feed.GoogleShopping/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Feed.GoogleShopping/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.Manual/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.Manual/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.Manual/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.Manual/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalDirect/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalDirect/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalDirect/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PurchaseOrder/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PurchaseOrder/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PurchaseOrder/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PurchaseOrder/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.Template/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.Template/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.Template/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.Template/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.Test/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.AustraliaPost/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.AustraliaPost/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.AustraliaPost/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.AustraliaPost/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.CanadaPost/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.CanadaPost/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.CanadaPost/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.CanadaPost/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.Fedex/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.Fedex/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.Fedex/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.FixedOrByWeight/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.FixedOrByWeight/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.FixedOrByWeight/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.UPS/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.UPS/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.UPS/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.USPS/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.USPS/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.USPS/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.USPS/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.HelloWorld/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.NivoSlider/obj/Debug/*.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.NivoSlider/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.NivoSlider/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.NivoSlider/obj/Debug/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web.Framework/bin/Debug/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web.Framework/bin/Debug/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web.Framework/obj/Debug/*.cache
nopCommerce_3.90_Source/Presentation/Nop.Web/Administration/Bin/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Administration/obj/Debug/*.cache
nopCommerce_3.90_Source/Presentation/Nop.Web/bin/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/bin/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/obj/Debug/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/obj/Debug/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/obj/Debug/*.cache
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/DiscountRules.CustomerRoles/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/DiscountRules.CustomerRoles/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/DiscountRules.HasOneProduct/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/DiscountRules.HasOneProduct/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/ExchangeRate.EcbExchange/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/ExchangeRate.EcbExchange/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Feed.GoogleShopping/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Feed.GoogleShopping/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.CheckMoneyOrder/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.CheckMoneyOrder/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.Manual/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.Manual/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.PayPalDirect/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.PayPalDirect/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.PayPalStandard/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.PayPalStandard/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.PurchaseOrder/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.PurchaseOrder/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Pickup.PickupInStore/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Pickup.PickupInStore/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Pickup.Plantilla/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Pickup.Plantilla/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.AustraliaPost/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.AustraliaPost/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.CanadaPost/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.CanadaPost/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.Fedex/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.Fedex/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.FixedOrByWeight/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.FixedOrByWeight/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.UPS/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.UPS/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.USPS/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.USPS/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Tax.FixedOrByCountryStateZip/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Tax.FixedOrByCountryStateZip/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Widgets.GoogleAnalytics/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Widgets.GoogleAnalytics/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Widgets.NivoSlider/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Widgets.NivoSlider/*.pdb
nopCommerce_3.90_Source/Tests/Nop.Core.Tests/bin/Debug/*.dll
nopCommerce_3.90_Source/Tests/Nop.Core.Tests/bin/Debug/*.xml
nopCommerce_3.90_Source/Tests/Nop.Core.Tests/bin/Debug/*.config
nopCommerce_3.90_Source/Tests/Nop.Core.Tests/bin/Debug/*.pdb
nopCommerce_3.90_Source/Tests/Nop.Core.Tests/obj/Debug/*.cache
nopCommerce_3.90_Source/Tests/Nop.Core.Tests/obj/Debug/*.txt
nopCommerce_3.90_Source/Tests/Nop.Core.Tests/obj/Debug/*.dll
nopCommerce_3.90_Source/Tests/Nop.Core.Tests/obj/Debug/*.pdb
nopCommerce_3.90_Source/Tests/Nop.Data.Tests/bin/Debug/*.dll
nopCommerce_3.90_Source/Tests/Nop.Data.Tests/bin/Debug/*.xml
nopCommerce_3.90_Source/Tests/Nop.Data.Tests/bin/Debug/*.config
nopCommerce_3.90_Source/Tests/Nop.Data.Tests/bin/Debug/*.pdb
nopCommerce_3.90_Source/Tests/Nop.Data.Tests/obj/Debug/*.cache
nopCommerce_3.90_Source/Tests/Nop.Services.Tests/bin/Debug/*.dll
nopCommerce_3.90_Source/Tests/Nop.Services.Tests/bin/Debug/*.xml
nopCommerce_3.90_Source/Tests/Nop.Services.Tests/bin/Debug/*.config
nopCommerce_3.90_Source/Tests/Nop.Services.Tests/bin/Debug/*.pdb
nopCommerce_3.90_Source/Tests/Nop.Tests/bin/Debug/*.dll
nopCommerce_3.90_Source/Tests/Nop.Tests/bin/Debug/*.xml
nopCommerce_3.90_Source/Tests/Nop.Services.Tests/obj/Debug/*.cache
nopCommerce_3.90_Source/Tests/Nop.Services.Tests/obj/Debug/*.txt
nopCommerce_3.90_Source/Tests/Nop.Services.Tests/obj/Debug/*.dll
nopCommerce_3.90_Source/Tests/Nop.Services.Tests/obj/Debug/*.pdb
nopCommerce_3.90_Source/Tests/Nop.Tests/bin/Debug/*.config
nopCommerce_3.90_Source/Tests/Nop.Tests/bin/Debug/*.pdb
nopCommerce_3.90_Source/Tests/Nop.Tests/obj/Debug/*.cache
nopCommerce_3.90_Source/Tests/Nop.Tests/obj/Debug/*.txt
nopCommerce_3.90_Source/Tests/Nop.Tests/obj/Debug/*.dll
nopCommerce_3.90_Source/Tests/Nop.Tests/obj/Debug/*.pdb
nopCommerce_3.90_Source/Tests/Nop.Web.MVC.Tests/bin/Debug/*.dll
nopCommerce_3.90_Source/Tests/Nop.Web.MVC.Tests/bin/Debug/*.pdb
nopCommerce_3.90_Source/Tests/Nop.Web.MVC.Tests/bin/Debug/*.xml
nopCommerce_3.90_Source/Tests/Nop.Web.MVC.Tests/bin/Debug/*.config
nopCommerce_3.90_Source/Tests/Nop.Web.MVC.Tests/obj/Debug/*.cache
nopCommerce_3.90_Source/Tests/Nop.Web.MVC.Tests/obj/Debug/*.dll
nopCommerce_3.90_Source/Tests/Nop.Web.MVC.Tests/obj/Debug/*.pdb
Presentation/Nop.Web/Plugins/Widgets.Test/*.dll
