nopCommerce_3.90_Source/Presentation/Nop.Web/App_Data/Settings.txt
nopCommerce_3.90_Source/Libraries/Nop.Core/bin/Debug/*.dll
nopCommerce_3.90_Source/Libraries/Nop.Core/bin/Debug/*.dll.config
nopCommerce_3.90_Source/Libraries/Nop.Core/bin/Debug/*.pdb
nopCommerce_3.90_Source/Libraries/Nop.Core/obj
nopCommerce_3.90_Source/Libraries/Nop.Data/bin/Debug/*.dll
nopCommerce_3.90_Source/Libraries/Nop.Data/bin/Debug/*.pdb
nopCommerce_3.90_Source/Libraries/Nop.Data/bin/Debug/*.dll.config
nopCommerce_3.90_Source/Libraries/Nop.Data/obj
nopCommerce_3.90_Source/Libraries/Nop.Services/bin/Debug/*.dll.config
nopCommerce_3.90_Source/Libraries/Nop.Services/bin/Debug/*.dll
nopCommerce_3.90_Source/Libraries/Nop.Services/bin/Debug/*.pdb
nopCommerce_3.90_Source/Libraries/Nop.Services/obj
nopCommerce_3.90_Source/Nop.Plugin.Test.Test/obj/Debug/*.dll
nopCommerce_3.90_Source/Nop.Plugin.Test.Test/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Feed.GoogleShopping/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Feed.GoogleShopping/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.HelloWorld/bin/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.HelloWorld/bin/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web.Framework/bin/Debug/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web.Framework/bin/Debug/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Administration/Bin/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Administration/Bin/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/bin/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/bin/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/obj/Debug/*.cache
*.cache
*.cache
*.csprojResolveAssemblyReference.cache
nopCommerce_3.90_Source/Presentation/Nop.Web/obj/Debug/Nop.Web.csprojResolveAssemblyReference.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.CanadaPost/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.CanadaPost/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/Debug/*.csprojResolveAssemblyReference.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/Debug/*.csprojResolveAssemblyReference.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Feed.GoogleShopping/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.Manual/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.Manual/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.Manual/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalDirect/obj/Debug/*.csprojResolveAssemblyReference.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalDirect/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalDirect/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PurchaseOrder/obj/Debug/Nop.Plugin.Payments.PurchaseOrder.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PurchaseOrder/obj/Debug/Nop.Plugin.Payments.PurchaseOrder.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Payments.PurchaseOrder/obj/Debug/Nop.Plugin.Payments.PurchaseOrder.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/Debug/Nop.Plugin.Pickup.PickupInStore.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/Debug/Nop.Plugin.Pickup.PickupInStore.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/Debug/Nop.Plugin.Pickup.PickupInStore.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.Template/obj/Debug/Nop.Plugin.Pickup.Plantilla.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.Template/obj/Debug/Nop.Plugin.Pickup.Plantilla.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Pickup.Template/obj/Debug/Nop.Plugin.Pickup.Plantilla.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.AustraliaPost/obj/Debug/Nop.Plugin.Shipping.AustraliaPost.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.AustraliaPost/obj/Debug/Nop.Plugin.Shipping.AustraliaPost.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.AustraliaPost/obj/Debug/Nop.Plugin.Shipping.AustraliaPost.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.CanadaPost/obj/Debug/Nop.Plugin.Shipping.CanadaPost.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.CanadaPost/obj/Debug/Nop.Plugin.Shipping.CanadaPost.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.CanadaPost/obj/Debug/Nop.Plugin.Shipping.CanadaPost.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.Fedex/obj/Debug/Nop.Plugin.Shipping.Fedex.csprojResolveAssemblyReference.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.Fedex/obj/Debug/Nop.Plugin.Shipping.Fedex.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.Fedex/obj/Debug/Nop.Plugin.Shipping.Fedex.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.FixedOrByWeight/obj/Debug/Nop.Plugin.Shipping.FixedOrByWeight.csprojResolveAssemblyReference.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.FixedOrByWeight/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.FixedOrByWeight/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.UPS/obj/Debug/*.csprojResolveAssemblyReference.cache
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.UPS/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.UPS/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.USPS/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.USPS/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Shipping.USPS/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/Debug/*.pdb
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.NivoSlider/obj/Debug/*.csproj.FileListAbsolute.txt
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.NivoSlider/obj/Debug/*.dll
nopCommerce_3.90_Source/Plugins/Nop.Plugin.Widgets.NivoSlider/obj/Debug/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/DiscountRules.CustomerRoles/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/DiscountRules.CustomerRoles/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/DiscountRules.HasOneProduct/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/DiscountRules.HasOneProduct/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/ExchangeRate.EcbExchange/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/ExchangeRate.EcbExchange/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Feed.GoogleShopping/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Feed.GoogleShopping/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.CheckMoneyOrder/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.CheckMoneyOrder/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.Manual/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.Manual/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.PayPalDirect/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.PayPalDirect/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.PayPalStandard/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.PayPalStandard/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.PurchaseOrder/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Payments.PurchaseOrder/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Pickup.PickupInStore/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Pickup.PickupInStore/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Pickup.Plantilla/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Pickup.Plantilla/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.AustraliaPost/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.AustraliaPost/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.CanadaPost/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.CanadaPost/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.Fedex/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.Fedex/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.FixedOrByWeight/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.FixedOrByWeight/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.UPS/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.UPS/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.USPS/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Shipping.USPS/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Tax.FixedOrByCountryStateZip/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Tax.FixedOrByCountryStateZip/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Widgets.GoogleAnalytics/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Widgets.GoogleAnalytics/*.pdb
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Widgets.NivoSlider/*.dll
nopCommerce_3.90_Source/Presentation/Nop.Web/Plugins/Widgets.NivoSlider/*.pdb
