
@{
    Layout = "";
}
@inherits System.Web.Mvc.WebViewPage
@using Nop.Web.Framework;

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="pickup-points-grid"></div>
            </div>
            <div class="panel-footer">
                <input type="submit" id="btnAddNewOption" class="btn btn-primary" />
                <input type="submit" id="btnRefresh" class="btn btn-default" style="display: none" />
            </div>
        </div>
    </div>

